body {
  background: #F2F2F2;
}

.container {
  width: min-width 1200px;
  margin: 0 auto;
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}
.header__bourger {
  margin: 31px 44px 31px 56px;
}
@media screen and (min-width: 992px) {
  .header__bourger {
    display: none;
  }
}
.header__navigation {
  display: flex;
  margin-bottom: 37.5px;
}
@media screen and (max-width: 992px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation-item {
  margin-right: 27px;
  padding: 40px 0px 0px 0px;
  font-size: 16px;
  border-top: 5px solid transparent;
}
.header__navigation-item:hover {
  border-top: 5px solid #EF7F04;
}

a {
  color: #000000;
}

.link:hover {
  color: #EF7F04;
}

.button-request {
  background-color: #EF7F04;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 18px;
  border-radius: 3px;
  margin-right: 14px;
}

.button-order {
  background-color: #3B3A63;
  color: #ffffff;
  font-size: 13px;
  padding: 10px 18px;
  border-radius: 3px;
}

.main {
  background-image: url("../img/mainFon.jpeg");
  padding-bottom: 65px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.main-info {
  display: flex;
  padding-top: 130px;
}
.main-info__title {
  color: #EF7F04;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.left {
  padding: 60px 52px 0px 85px;
  position: relative;
}
.left__advantages {
  display: flex;
  position: absolute;
  top: 180px;
}
@media screen and (max-width: 992px) {
  .left__advantages {
    position: static;
    width: 630px;
    height: 562px;
    margin-top: 18px;
  }
}
.left__title {
  font-weight: 100;
  font-size: 36px;
  line-height: 42.19px;
}

@media screen and (max-width: 992px) {
  .right {
    display: none;
  }
}
.right__feedback {
  position: relative;
  background: #fff;
  border-radius: 10px;
  width: 406px;
  height: 428px;
  padding: 43px 40px 65px 40px;
  text-align: center;
}
.right__feedback_image {
  position: absolute;
  left: -102px;
  bottom: -80px;
  min-width: 745px;
}
.right__feedback__title {
  font-size: 18px;
  color: #2F2F51;
}
.right__feedback-inputs {
  margin-top: 27px;
  margin-bottom: 24px;
}
.right__feedback-button {
  padding: 19px 40px;
  background: #EF7F04;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
}

.input__item {
  display: block;
  width: 100%;
  margin-top: 15px;
  height: 40px;
  background: #E2E2E2;
  border-radius: 3px;
  padding-left: 16px;
}
.input__item_check {
  width: 25px;
  height: 25px;
}

.input__item::-moz-placeholder {
  color: #424268;
}

.input__item:-ms-input-placeholder {
  color: #424268;
}

.input__item::placeholder {
  color: #424268;
}

input {
  outline: none;
  border: none;
}

.input__checkbox {
  display: flex;
  margin-top: 13.5px;
  align-items: center;
}
.input__checkbox label {
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
  color: #000;
}

.services__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #2F2F51;
  margin-top: 67px;
  margin-bottom: 48px;
}
.services__card-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}
@media screen and (max-width: 992px) {
  .services__card-list {
    justify-content: center;
  }
}
.services__card {
  width: 49%;
  background-color: #fff;
  border-radius: 3px;
  margin-right: 10.5px;
  margin-bottom: 10.25px;
  padding-top: 55px;
  display: flex;
  flex-wrap: wrap;
}
.services__card_1 {
  background-image: url("../img/img1.jpeg");
}
.services__card_2 {
  background-image: url("../img/img2.jpeg");
}
.services__card_3 {
  background-image: url("../img/img3.jpeg");
}
.services__card_4 {
  background-image: url("../img/img4.jpeg");
}
.services__card-header {
  display: flex;
  align-items: center;
  color: #2F2F51;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 37px;
}
.services__card_icon {
  padding-left: 53px;
}
.services__card_name {
  font-weight: 700;
  font-size: 24px;
  color: #2F2F51;
  margin-left: 20px;
  width: 220px;
}
.services__card_text {
  padding-left: 53px;
  width: 220px;
  padding-bottom: 30px;
}/*# sourceMappingURL=style.css.map */