.card {
  width: 250px;
  
  &-preview{
    height: 150px;

    &__img {
      height: 100%;
      width: 100%;
    }
  }

  &-title {
  color: $name;
  }

  &-description {
    @include formatText;
  }
}